{% extends "Seller/seller_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="insert_event_details" enctype="multipart/form-data">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Event name </th>
      <th scope="col"><label>
        <input type="text" name="textfield" required/>
      </label></th>
    </tr>
    <tr>
      <th>Details</th>
      <td><label>
      <input type="text" name="textfield2" required/>
      </label></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><label>
      <input type="date" name="textfield3" required/>
      </label></td>
    </tr>

    <tr>
      <th>Venue</th>
      <td><input type="text" name="textfield4" required></td>
    </tr>

     <tr>
  <th>Location</th>
  <td>
    <select name="location" required>
      <option value="" disabled selected>Select a State</option>
      <option value="Andhra Pradesh">Andhra Pradesh</option>
      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
      <option value="Assam">Assam</option>
      <option value="Bihar">Bihar</option>
      <option value="Chhattisgarh">Chhattisgarh</option>
      <option value="Goa">Goa</option>
      <option value="Gujarat">Gujarat</option>
      <option value="Haryana">Haryana</option>
      <option value="Himachal Pradesh">Himachal Pradesh</option>
      <option value="Jharkhand">Jharkhand</option>
      <option value="Karnataka">Karnataka</option>
      <option value="Kerala">Kerala</option>
      <option value="Madhya Pradesh">Madhya Pradesh</option>
      <option value="Maharashtra">Maharashtra</option>
      <option value="Manipur">Manipur</option>
      <option value="Meghalaya">Meghalaya</option>
      <option value="Mizoram">Mizoram</option>
      <option value="Nagaland">Nagaland</option>
      <option value="Odisha">Odisha</option>
      <option value="Punjab">Punjab</option>
      <option value="Rajasthan">Rajasthan</option>
      <option value="Sikkim">Sikkim</option>
      <option value="Tamil Nadu">Tamil Nadu</option>
      <option value="Telangana">Telangana</option>
      <option value="Tripura">Tripura</option>
      <option value="Uttar Pradesh">Uttar Pradesh</option>
      <option value="Uttarakhand">Uttarakhand</option>
      <option value="West Bengal">West Bengal</option>
      <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
      <option value="Chandigarh">Chandigarh</option>
      <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
      <option value="Lakshadweep">Lakshadweep</option>
      <option value="Delhi">Delhi</option>
      <option value="Puducherry">Puducherry</option>
    </select>
  </td>
</tr>


      <tr>
      <th>Type</th>
<td>
  <select name="type">
    <option value="dj_night">DJ Night</option>
    <option value="concert">Concert</option>
    <option value="seminar">Seminar</option>
    <option value="workshop">Workshop</option>
    <option value="webinar">Webinar</option>
    <option value="conference">Conference</option>
    <option value="exhibition">Exhibition</option>
    <option value="sports_event">Sports Event</option>
    <option value="festival">Festival</option>
    <option value="theater_show">Theater Show</option>
  </select>
</td>

    </tr>

     <tr>
      <th>Number of Tickets</th>
      <td><input type="text" name="textfield5" required></td>
    </tr>

     <tr>
      <th>Price</th>
      <td><input type="text" name="textfield6" required></td>
    </tr>


     <tr>
      <th>Image</th>
      <td><input type="file" name="file" required></td>
    </tr>

    <tr align="center">
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Add" class="btn btn-primary"/>
      </label></td>
    </tr>
  </table>
  <label></label>
</form>
</body>
<!--</html>-->
{% endblock %}