{% extends "Seller/seller_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="add_event_details">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Name </th>
      <th scope="col">Details </th>
      <th scope="col">Venue</th>
      <th scope="col">Image</th>
      <th scope="col">Date</th>
      <th scope="col">
        Manage Tickets
      </th>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['ename']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['venue']}}</td>
      <td><img src="../static/uploads/{{i['image']}}" width="100px" height="100px"></td>
      <td>{{i['date']}}</td>
      <td>
      <p><a href="manage_ticket?id={{i['id']}}">Manage Tickets</a></p>

      <br>
        <a href="delete_event?id={{i['id']}}">Delete</a>
      </td>
    </tr>

    {% endfor %}

    <tr align="center">
      <td colspan="6"><input type="submit" value="Add" class="btn btn-primary"></td>
    </tr>

  </table>
</form>
</body>
{% endblock %}
