{% extends "Seller/seller_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="add_event_details">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Total Tickets</th>
      <th scope="col">Total Booked Tickets</th>
      <th scope="col">Currently Available Tickets</th>
      <th scope="col">Manage Tickets</th>
    </tr>



    <tr>
      <td>{{val['total']}}</td>
      <td>{{val2['booked']}}</td>
      <td>{{val3['available']}}</td>

      <td>
      <p><a href="#">Edit</a></p></td>
    </tr>




  </table>
</form>
</body>
{% endblock %}